// Specific CSS for your home-page
.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  // position: fixed;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  margin-bottom: 5px;
  top: 0;
  left: 0;
  z-index: -99;
  background-image: linear-gradient(rgba(0,0,0,0.5) 100%, rgba(90, 100, 91,0.2)), url("landing.jpg");
  background-size: cover !important
}

.landing-content {
  text-align: center;
  max-width: 35%;
  h1 {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 10px;
  //color: #5A645B;
  color: white;
  position:relative;
  }
}

.about {
  color: white;
  margin-top: 100%;
  background: black;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  z-index:1;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  h3 {
    margin: 0;
  }
}

.about-content {

}

.about-me {
  flex: 0 1 30%;
  min-width: 20%;
  li {
    font-weight: lighter;
    padding: 5px;
  }
}

.about-icons {
  width: 10%;
  display: flex;
  flex-direction: column;
  font-size: 56px;
  align-items: center;
  .fas {
    margin: 10px 0;
  }
}

.intro h2 {
  text-align: center;
}

.projects {
  height: 100vh;
  min-height: 100%;
  z-index:1000;
  color: white;
  background: black;
  h3 {
    margin: 0;
  }
}
