<div class="navbar">
  <div class="navbar-name">
    <h4>Chloé Baron</h4>
  </div>
  <!-- <div class="navbar-right">
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="font-size: 32px; color: white;"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  </div> -->
</div>
