<div class="landing">
  <div class="landing-content">
    <h1>Refined Web Development Focusing On Science & Non-Profits.</h1>
    <%= link_to 'Explore This Site', pages_path, class: "btn btn-enter" %>
  </div>
</div>
