<div class="wrapper">
  <div class="landing">
    <div class="landing-content">
      <h1>Refined Web Development Focused On Science & Non-Profits.</h1>
      <%#= link_to 'Explore The Site', pages_path, class: "btn btn-enter" %>
    </div>
  </div>
  <div class="about">
    <div class="about-me intro">
    <h2>Hello! My name is Chloé. I have recently joined the world of web development...</h2>
    </div>
    <div class="about-icons">
    <h3>lorem ipsum</h3>
    </div>
    <div class="about-me experience">
    <p>Background and Story</p>
    <ul>
      <li>I have been interested in coding for over a decade and finally took the plunge this year.</li>
      <li>Graduated from University of Waterloo with a BA in Anthropology and double minor in Psychology and Fine Art</li>
      <li>Worked for 3 years as a program coordinator at an ocean science research institute in my home of Bermuda.</li>
      <li>Attended a Le Wagon intensive 9 week bootcamp in Montreal in April of 2018. Here I gained 300+ hours of coding experiences.</li>
      <li>I am currently free lancing and developing my portfolio. I am interesting in growing my experience.</li>
    </ul>
    </div>
  </div>
  <div class="projects">
    <div class="projects-content">
      <div class="about-me">
      <h3>lorem ipsum</h3>
      </div>
      <div class="about-experience">
      <h3>lorem ipsum</h3>
      </div>
    </div>
  </div>
</div>
