<div class="wrapper">
  <div class="landing">
    <div class="landing-content">
      <h1>Refined Web Development Focused On Science & Non-Profits.</h1>
      <%#= link_to 'Explore The Site', pages_path, class: "btn btn-enter" %>
    </div>
  </div>
  <div class="about">
    <div class="about-content">
      <div class="about-me">
      <h3>lorem ipsum</h3>
      </div>
      <div class="about-experience">
      <h3>lorem ipsum</h3>
      </div>
    </div>
  </div>
  <div class="projects">
    <div class="projects-content">
      <div class="about-me">
      <h3>lorem ipsum</h3>
      </div>
      <div class="about-experience">
      <h3>lorem ipsum</h3>
      </div>
    </div>
  </div>
</div>
