<div class="landing">
  <div class="landing-content">
    <h1>Chloé Baron</h1>
    <p><i>web weveloper with a focus on non for profits and science</i></p>
    <%= link_to 'Explore This Page', pages_path, class: "btn btn-enter" %>
    </div>
</div>
