<div class="wrapper">
  <div class="landing">
    <div class="landing-content">
      <h1>Hello, my name is Chloé.</h1>
      <h3><i>I am a Fullstack Junior Developer & Web Designer</i></h1>
    </div>
  </div>
  <div class="container about">
    <!-- <div class="container about-content"> -->
      <div class="row about-row">
        <div class="col-xs-12 col-md-2 about-icons">
          <i class="fas fa-plane"></i>
          <i class="fas fa-code"></i>
          <i class="fas fa-venus"></i>
        </div>
        <div class="col-xs-10 col-md-8 about-me experience">
          <h3>My Story</h3>
          <ul>
            <li>I am from the small island of Bermuda</li>
            <li>I have been interested in coding for over a decade and took the plunge to learn to code and become a developer this year.</li>
            <li>I graduated from University of Waterloo with a BA in Anthropology and double minor in Psychology and Fine Art</li>
            <li>I Worked for 3 years as a program coordinator at an ocean science research institute in my home of Bermuda.</li>
            <li>I attended a Le Wagon intensive 9 week bootcamp in Montreal in April of 2018. There I gained 300+ hours of coding experience and knowledge.</li>
            <li>I am currently developing my portfolio, travelling the world, and applying for full time employment.</li>
            <li>I have an interest in art, science, environmental protection and investigating the ways in which technology affects individuals and our society</li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <div class="projects">
    <div class="projects-content">
      <div class="about-me">
        <h3>Skills</h3>
      </div>
    </div>
  </div>
</div>
